@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "noto-sans-kr-v21-latin_korean";
	font-style: normal;
	font-weight: normal;
	src: url("./fonts/noto-sans-kr-v21-latin_korean-500.woff") format("woff");
}

@font-face {
	font-family: "noto-sans-kr-v21-latin_korean";
	font-style: normal;
	font-weight: 700;
	src: url("./fonts/noto-sans-kr-v21-latin_korean-700.woff") format("woff");
}

@font-face {
	font-family: "noto-sans-kr-v21-latin_korean";
	font-style: normal;
	font-weight: 900;
	src: url("./fonts/noto-sans-kr-v21-latin_korean-900.woff") format("woff");
}

body {
    font-family: 'noto-sans-kr-v21-latin_korean', sans-serif;
}

.hg-theme-default .hg-button {height: 50px !important;}
.hg-button-space {flex-grow: 6 !important;}
.hg-button-empty {flex-grow: 6 !important;font-size: 0;background: #fff !important;}

.hg-button-special span{width:20px;} 
.hg-button-shift span {width:20px;height:20px;background:url('/svg_arrowup.svg') no-repeat center center !important;background-size: cover !important;font-size: 0;}
.hg-button-bksp span {width:20px;height:20px;background:url('/svg_delete.svg') no-repeat center center !important;background-size: cover !important;font-size: 0;}
.hg-button-enter span {width:20px;height:20px;background:url('/svg_search.svg') no-repeat center center !important;background-size: cover !important;font-size: 0;}
.hg-button-language span {width:20px;height:20px;background:url('/svg_language.svg') no-repeat center center transparent !important;background-size: cover !important;font-size:0;}

.hg-layout-eng_shift .hg-button-shift span , .hg-layout-korean_shift .hg-button-shift span {background:url('/svg_arrowup_active.svg') no-repeat center center !important}
.hg-layout-eng_shift .hg-button-language span , .hg-layout-eng .hg-button-language span {background:url('/svg_language_active.svg') no-repeat center center !important}

.input-keyboard {width: 200px;padding-right:40px;background:url('/svg_keyboard_up.svg') no-repeat right center;background-size: 20px;}
.keyboard-down {background:url('/svg_keyboard_down.svg') no-repeat center;background-size: 20px;}

.hg-theme-default .hg-button.active-button {background: #ddd;}
.hg-theme-default .hg-button.hg-standardBtn[data-skbtn="@"] {max-width: inherit !important;}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blinking-cursor {
    animation: blink 1s steps(1) infinite;
    background: #017cfe;
    margin-left:1px;
}

@media print {
    @page { margin: 0; }

    body * {
        visibility: hidden;
    }
    #ul-list {
        display: none;
    }
    #print-image, #print-image * {
        visibility: visible;
    }

    #print-image {
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
        padding:40px 40px 150px 40px;
        background: rgb(148,45,217);
        background: linear-gradient(20deg, rgba(148,45,217,1) 0%, rgba(253,29,29,1) 20%, rgba(252,176,69,1) 100%);
    }

}